@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

html {
    height: 100%;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #F2F2F2;
    color: #333333;
    margin: 0;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
}

.main-header {
    font-weight: 700;
}

.header-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.header-logo-link {
    position: absolute;
    z-index: 1;
}

.header-logo-link[href]:hover,
.header-logo-link[href]:focus {
    opacity: 0.6;    
}

.header-logo-link[href]:active {
    opacity: 0.3;
}

.navigation {
    width: 892px;
    display: flex;
    margin-left: 170px;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-user {
    width: 320px;
    margin-left: auto;
    justify-content: flex-end;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 20px 16px;
    position: relative;
}

.navigation-link[href]:hover,
.navigation-link[href]:focus {
    color: #756157;    
}

.navigation-link:hover .navigation-icon,
.navigation-link:focus .navigation-icon {
    fill: #756157;    
}

.navigation-link[href]:active {
    color: rgba(117, 97, 87, 0.3);
}

.navigation-link:active .navigation-icon {
    fill: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
    content: "";
    width: calc(100% - 32px);
    height: 2px;
    background-color: #756257;
    position: absolute;
    left: 16px;
    bottom: -1px;
    z-index: 1;
}

.navigation-user .navigation-link {
    min-width: 12px;
    min-height: 24px;
    position: relative;
}

.navigation-icon {
    fill: #000000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.favourites-count {
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    background-color: #7DB54F;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    position: absolute;
    left: 21px;
    top: 12px;
    min-width: 20px;
    text-align: center;    
}

.navigation-item-button {
    margin-left: 20px;
    margin-top: 14px;
}

.button-request {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    width: 160px;
}

.button-request:hover,
.button-request:focus {
    background-color: #615048;    
}


.button-request:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.main-container {
    flex-grow: 1;
}

.main-index {
    text-align: center;
}

.main-promo {
    background-image: url(../images/main-promo/main-promo-img.jpg);
    background-color: rgba(152, 186, 208, 0.58);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 82px;
    position: relative;
}

.main-promo::after {
    content: "";
    width: 1200px;
    height: 57px;
    position: absolute;
    background-image: url(../images/main-promo/divider.svg);
    bottom: 0;
    left: 0;
}

.main-promo-text {
    display: block;
    margin: 0 auto;
}

.section-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.section-description {
    font-size: 22px;
    line-height: 26px;
}

.advantages-wrapper {
    width: 655px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.advantages-section-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.advantages-section-description {
    margin: 0;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-title,
.features-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
}

.advantages-title {
    margin-bottom: 62px;
    position: relative;
}

.advantages-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -30px;
}

.advantages-item-small .advantages-title::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-container .advantages-title::after {
    background-color: rgba(255, 255, 255, 0.3);
}


.advantages-description {
    margin: 0;
}

.advantages-item {
    width: 400px;
    box-sizing: border-box;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container {
    padding: 102px 85px;
}

.advantages-item-small {
    padding: 113px 85px;
}


.advantages-item-town,
.advantages-item-bridge {
    width: 100%;
    display: flex;
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-town-img {
    order: 1;
    object-fit: cover;
    height: 100%;
}

.advantages-bridge-img {
    object-fit: cover;
    height: 100%;
}

.advantages-item-town .advantages-title,
.advantages-item-bridge .advantages-title {
    color: #ffffff;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
}

.features-wrapper {
    width: 505px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.features-section-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.features-section-description {
    margin: 0;
}

.features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 385px;
}

.features-item {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
    box-sizing: border-box;
    padding: 183px 85px 81px;
    background-repeat: no-repeat;
}

.features-title {
    margin-bottom: 30px;
}

.features-description {
    margin: 0;
}

.features-item-house {
    background-image: url(../images/advantages/house.svg);
    background-position: 164px 81px;
    background-size: 75px 72px;
}

.features-item-food {
    background-color: #ffffff;
    background-image: url(../images/advantages/food.svg);
    background-position: 164px 82px;
    background-size: 74px 70px;
}

.features-item-souvenir {
    background-image: url(../images/advantages/gift.svg);
    background-position: 169px 79px;
    background-size: 64px 76px;
}

.find-hotel-wrapper {
    width: 595px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.find-hotel-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.find-hotel-description {
    margin-top: 0;
    margin-bottom: 54px;
}

.find-hotel-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    width: 376px;
    margin: 0 auto;
}

.find-hotel-button:hover,
.find-hotel-button:focus {
    background-color: #615048;    
}

.find-hotel-button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-container {
    width: 685px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 104px;
}

.subscribe-index {
    background-color: #6993af;
    color: #ffffff;
    background-image: url(../images/subscribe-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.subscribe-description {
    margin-top: 0;
    margin-bottom: 54px;
}

.subscribe-form {
    display: flex;
}

.subscribe-email {
    font: inherit;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    border: none;
    width: 412px;
    padding: 14px 20px;
    border-radius: 4px 0px 0px 4px;
    background-color: #F2F2F2;
}

.subscribe-email:not(:disabled):hover {
    background-color: #E6E6E6;
}

.subscribe-email:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.subscribe-email:not(:placeholder-shown) {
    background-color: #F2F2F2;
    outline: 2px solid #000000;
    outline-offset: -2px;    
}

.subscribe-email::placeholder {
    opacity: 0.6;
    font-weight: 400;
}

.subscribe-email:disabled {
    opacity: 0.3;
}

.subscribe-email:disabled::placeholder {
    opacity: 0.3;
}


.button-subscribe {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0px 4px 4px 0px;
    width: 232px;
}

.button-subscribe:not(:disabled):hover,
.button-subscribe:focus {
    background-color: #68A2CA;    
}

.button-subscribe:not(:disabled):active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
    background-color: #E5E5E5;
    cursor: auto;
}

.footer-contacts {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 35px;
}

.footer-social-list {
    list-style-type: none;
    width: 250px;
    margin: 0;
    margin-right: 130px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-social-link {
    display: inline-block;
    min-width: 47px;
    min-height: 40px;
    position: relative;
    display: block;
}

.footer-social-icon {
    fill: #83B3D3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
    width: 335px;
}

.footer-phone-link {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    display: block;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
    color: #756157;    
}

.footer-phone-link:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-dev-link {
    margin-left: auto;
}

.footer-dev-logo {
    fill: #000000;
    display: block;
}

.footer-dev-link:hover .footer-dev-logo,
.footer-dev-link:focus .footer-dev-logo {
    fill: #756157;
}

.footer-dev-link:active .footer-dev-logo {
    fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    z-index: 100;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 64px;
}

.modal-search {
    width: 577px;
}

.modal-close-button {
    position: absolute;
    top: 64px;
    right: 52px;
    padding: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: none;
    background-image: url(../images/search-hotel-form/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:not(:disabled):hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-close-button:not(:disabled):active {    
    opacity: 0.4;
    background-color: #E6E6E6;
}

.modal-close-button:disabled {
    opacity: 0.2;
    cursor: auto;
}

.field-date {    
    margin-bottom: 23px;
}

.search-label {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.search-input {
    font-family: inherit;
    line-height: 24px;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    padding: 12px 20px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;
    width: 400px;
}

.search-input-date {
    background-image: url(../images/search-hotel-form/date.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;    
}

.search-input:not(:disabled):hover {
    color: rgba(0,0,0,0.6);
    background-color: #E6E6E6;
}

.search-input:focus {
    outline: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
}

.search-input:disabled {
    opacity: 0.3;
    cursor: auto;
}

.date-message {
    font-size: 16px;
    margin:  0;
    margin-left: auto;
    max-width: 420px;    
}

.date-error {    
    color: #FF5757;    
}

.field-number {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-number-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.counter-wrapper {
    display: flex;
}

.label-number-adults,
.label-number-children
{
    display: inline;
}

.label-number-adults {
    margin-right: 46px;
}

.label-number-children {
    margin-right: 56px;
}

.search-input-number {
    line-height: 20px;
    padding: 14px 0;    
    text-align: center;
    width: 30px;
    appearance: textfield;
    border-radius: 0;
    outline-offset: -2px;
}

.search-input-number::-webkit-outer-spin-button,
.search-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-counter {
    width: 40px;
    height: 48px;
    background-color: #F2F2F2;
    border: none;   
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.button-counter:focus::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid #82B3D3;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} 

.button-counter:focus {
    outline: none;
}

.button-counter:disabled {
    opacity: 0.4;
    cursor:  auto;
}

.button-plus {   
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button-counter::before {
    content:"";
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.button-plus::before {    
    background-image: url(../images/search-hotel-form/icon-plus.svg);    
}

.button-counter:not(:disabled):hover::before,
.button-counter:focus::before {
    opacity: 1;
}

.button-counter:not(:disabled):active::before {
    opacity: 0.2;
}

.button-minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button-minus::before {
    background-image: url(../images/search-hotel-form/icon-minus.svg);     
}

.button-search {
    font-size: 20px;
    line-height: 24px;
    background-color: #83B3D3;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;     
}

.button-search:not(:disabled):hover,
.button-search:focus {
    background-color: #68A2CA;
}

.button-search:not(:disabled):active {
    background-color: #68A2CA;
    color: rgba(255,255,255,0.3);
}

.button-search:disabled {
    opacity: 0.3;
    cursor: auto;
}

.search-label-icon {
    position: relative;
    padding-right: 26px;
}

.tooltip {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 45px;
}

.tooltip-toggle {
    width: 26px;
    height:  26px;
    border: none;
    background-image: url(../images/search-hotel-form/icon-info.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #83B3D3;
    padding: 0;
    margin: 0;
    display: block;
}

.tooltip-toggle:not(:disabled):hover {
    background-color: #68A2CA;
}

.tooltip-toggle:not(:disabled):active {
    background-color: #82B3D3;
}

.tooltip-toggle:disabled {
    opacity: 0.3;
    cursor: auto;
}

.tooltip-text {
    width: 216px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;  
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;  
    z-index: 1;
}

.tooltip-text::before {
    content: "";
    width: 19px;
    height: 9px;
    position: absolute;
    background-image: url(../images/search-hotel-form/tooltip-arrow.svg);
    bottom: 100%;
    left: 0;
    right: 0;
    margin: auto;    
}

.tooltip-toggle:not(:disabled):hover + .tooltip-text,
.tooltip-toggle:not(:disabled):focus + .tooltip-text {
    display: block;
} 


/*Catalog*/

.filter-container {
    background-color: rgba(21, 22, 23, 0.72);
    color: #ffffff;
    background-image: url(../images/filtr-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-container-center {
    width: 1060px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 70px;
}

.main-inner-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}

.breadcrumbs {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    display: flex;
}

.breadcrumbs-item {
    margin-right: 13px;
    position: relative;
}

.breadcrumbs-item::after {
    content: "";
    width: 7px;
    height: 10px;
    background-image: url(../images/breadcrumbs/breadcrumbs-arrow.svg);
    background-position: center;
    position: absolute;
    top: 14px;
    right: -10px;
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-link {
    display: block;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
    opacity: 0.6;    
}

.breadcrumbs-link[href]:active {
    opacity: 0.3;
}

.breadcrumbs-link-main {
    background-image: url(../images/breadcrumbs/home.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    width: 21px;
    height: 21px;
}

.filter-form {
    display: flex;
}

.filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 32px;
}

.filter-group {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 150px;
    margin-right: 70px;
}

.filter-group-house {
    margin-right: 140px;
}

.filter-group-price {
    min-width: 288px;
}

.filter-list {
    margin: 0;
    padding: 0;
}

.range-wrapper-inputs {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
}

.range-input {
    width: 103px;
    padding: 12px 20px;
    font: inherit;
    line-height: 24px;
    font-weight: 700;
    background-color: #F2F2F2;
    border: none;
    appearance: textfield;
}

.range-input:not(:disabled):hover {
    background-color: #E6E6E6;
}   

.range-input:focus {
    background-color: #F2F2F2;
    outline: 2px solid #000000;        
}

.range-input:disabled {
    opacity: 0.3;
}

.range-input-min {
    border-radius: 4px 0px 0px 4px;
}

.range-input-max {
    border-radius: 0px 4px 4px 0px;
}

.range-input-label {
    position: relative;
}

.label-text {
    position: absolute;
    line-height: 24px;
    color: rgba(0,0,0,0.3);
    right: 12px;
    top: 12px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.range-toggle:not(:disabled):hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.range-toggle:focus {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:not(:disabled):active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:disabled {
    opacity: 0.3;
    cursor: auto;
}

.toggle-min {
    left: 0;    
}

.toggle-max {
    right: 0;    
}

.filter-button-wrapper {
    padding-top: 56px;
}

.filter-item {
    margin-bottom: 16px;
}

.filter-item:last-child {
    margin-bottom: 0;
}

.catalog-hotels {
    width: 1060px;
    padding: 50px 70px 60px;
}

.hotels-sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-view-list,
.filter-list {
    list-style-type: none;
}

.hotels-sort {
    width: 292px;
    padding: 13px 20px;
    padding-right: 45px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font: inherit;
    color: #333333;
    background-image: url(../images/filtr-form/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
}

.hotels-sort:not(:disabled):hover {
    border-color: #68A2CA;    
}

.hotels-sort:focus {
    border-color: #3F5E72;
    outline: none;
}

.hotels-sort:disabled {
    opacity: 0.3;
    color: #000000;
    border-color: #000000;
}

.catalog-view-list {
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: auto;
    width: 160px;
    justify-content: space-between;
}

.catalog-hotels-title {
    width: 378px;
    margin: 0;
    margin-right: 160px;
}

.view-link {
    display: block;
    width: 44px;
    height: 44px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.view-link:hover {
    border-color: #000000;
}

.view-link:focus {
    border-color: #68A2CA;
    outline: none;
}

.view-link:active {
    border-color: #000000;
}

.view-link-current {
    border-color: #000000;
}

.view-link-tale {
    background-image: url(../images/view-catalog/tale.svg);
}

.view-link-table {
    background-image: url(../images/view-catalog/table.svg);
}

.view-link-list {
    background-image: url(../images/view-catalog/list.svg);
}

.control {    
    position: relative;
    padding-left: 36px;
}

.control-label {
    line-height: 23px;
}

.control-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    left: 0;
    top: 2px;
}

.control>.control-input:not(:disabled):hover + .control-mark {
    background-color: #C9DAE8;
}

.control:focus-within .control-mark {
    outline: 3px solid #83B3D3;
}

.control>.control-input:not(:disabled):active + .control-mark {
    background-color: #99B7D1;    
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label {
    opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 10px;
    background-image: url(../images/filtr-form/checkbox.svg);
    left: 4px;
    top: 5px;
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background-image: url(../images/filtr-form/radio.svg);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.button-filter {
    background-color: #82B3D3;
    width: 191px;
    margin-bottom: 32px;
}

.button-filter:not(:disabled):hover,
.button-filter:focus {
    background-color: #68A2CA;    
}

.button-filter:not(:disabled):active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-filter:disabled {
    background-color: #E5E5E5;
    cursor: auto;
}

.button-reset {
    background-color: transparent;
    width: 191px;
}

.button-reset:not(:disabled):hover {
    opacity: 0.6;
}

.button-reset:focus {
    outline: 3px solid #83B3D3;
}

.button-reset:not(:disabled):active {
    opacity: 0.3;
    outline: none;
}

.button-reset:disabled {
    opacity: 0.1;
    cursor: auto;
}

.hotel-card {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 1fr repeat(3, min-content);
    gap: 16px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-link {
    text-decoration: none;
    grid-column: 1/-1;
}

.hotel-card-link:hover,
.hotel-card-link:focus {
    opacity: 0.6;
}

.hotel-card-link:active {
    opacity: 0.3;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 0px;
}

.hotel-card-image {
    display: block;
    object-fit: contain;
}

.hotel-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.hotel-price {
    text-align: right;
}

.hotel-card .button {
    width: 140px;
}

.button-more {
    background-color: #756157;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-more:hover,
.button-more:focus {
    background-color: #615048;

}

.button-more:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-favourite {
    background-color: #82B3D3;
}

.button-favourite:not(:disabled):hover,
.button-favourite:focus {
    background-color: #68A2CA;
    
}

.button-favourite:not(:disabled):active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-favourite:disabled {
    background-color: #E5E5E5;
    cursor: auto;
}

.button-favourite-selected {
    background-color: #7DB54F;
}

.button-favourite-selected:not(:disabled):hover,
.button-favourite-selected:focus {
    background-color: #6C9E42;    
}

.button-favourite-selected:not(:disabled):active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button-favourite-selected:disabled {
    background-color: #E5E5E5;
    cursor: auto;
}

.hotel-stars {
    height: 17px;
    background-image: url(../images/catalog/hotel-star.svg);
    background-repeat: space;
    align-self: center;
}

.hotel-stars-1 {
    width: 18px;
}

.hotel-stars-2 {
    width: 42px;
}

.hotel-stars-3 {
    width: 65px;
}

.hotel-stars-4 {
    width: 86px;
}

.hotel-stars-5 {
    width: 107px;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    background-color: #F2F2F2;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    width: 140px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin: 0;
}

.pagination {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 8px;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    width: 60px;
    height: 60px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;    
}

.pagination-link[href]:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
    border: none;
}


.pagination-link-current {
    color: #000000;
    background-color: #F2F2F2;
    cursor: auto;
}

.pagination-link-disabled {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: transparent;
    padding-top: 17px;
    padding-bottom: 17px;
    cursor: auto;
}

.subscribe-catalog {
    text-align: center;
}

.subscribe-catalog .section-title {
    color: #000000;
}
